<img src="<%= @artwork.artwork_pic %>" alt=""><br>
Category: <%= @artwork.category %><br>
Description: <%= @artwork.description %><br>
Gallery Id: <%= @artwork.gallery_id %><br>
Artist: <%= @artwork.user.first_name %> <%= @artwork.user.last_name %><br>
<br>
<br>

<h2>
  <%= pluralize @artwork.comments.size, "comment" %>
</h2>

<div id="comments">
  <% if @artwork.comments.length == 0 %>
   <p>Be the first to leave a comment about <%= @artwork.title %></p>
  <% else %>
    <% @artwork.comments.each do |comment| %>
      <%= render 'comments/show', comment: comment %>
    <% end %>
  <% end %>
</div>
<%= render 'comments/form', artwork: @artwork, comment: @comment %>



