<div class="artwork-cards">
  <% artworks.each do |artwork| %>
    <div class="artwork-card" style="position: relative;">
      <%= render partial: 'shared/artwork', locals: { artwork: artwork, large_img: false} %>
      <a class="overlay" href="<%= artwork_path(artwork) %>">
          <h3><%= artwork.title %></h3>
        <% if params[:id] == nil%>
          <p><%= artwork.user.first_name %>
            <%=artwork.user.last_name %></p>
        <% end %>
        <% if artwork.description.length > 100 %>
          <p><%= artwork.description.truncate_words(20)%></p>
        <% else %>
          <p><%= artwork.description%></p>
        <% end %>
      </a>
    </div>
  <% end %>
</div>
