<div class="artwork-cards">
  <% artworks.each do |artwork| %>
  <% if current_user.id == artwork.user_id  %>
      <% @unread_comments = artwork.comments.where(read: false).map do |comment|%>
      <% comment.content %>
    <% end %>
    <% if @unread_comments != 0 %>
      <p><%= @unread_comments.count unless @unread_comments.count == 0%></p>
    <% end %>
  <% end %>
    <div class="artwork-card">
      <%= render partial: 'shared/artwork', locals: { artwork: artwork} %>
      <a class="overlay" href="<%= artwork_path(artwork) %>">
        <h4><%= artwork.title %></h4>
        <% if params[:id] == nil%>
        <p><%= artwork.user.first_name %>
          <%=artwork.user.last_name %></p>
        <% end %>
          <% if artwork.description.length > 100 %>
            <p><%= artwork.description.truncate_words(20)%></p>
          <% else %>
           <p><%= artwork.description%></p>
          <% end %>
      </a>
    </div>
  <% end %>
</div>
