<div class="navbar navbar-expand-sm navbar-light navbar">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>




  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="position: relative;">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Home", "/", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Artworks", artworks_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Artists", artists_path, class: "nav-link" %>
        </li class="nav-notification">
        <% @unread_comments = [] %>
        <% current_user.artworks.select do |artwork|%>
          <% artwork.comments.where(read: false).each do |comment|%>
            <% @unread_comments << comment.content %>
          <% end %>
        <% end %>
        <% unless @unread_comments.count == 0 %>
        <li class="nav-notification-icon"><strong><%= @unread_comments.count %></strong></li>
        <% end %>
        <li class="nav-item dropdown">
          <a class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= render partial: 'shared/avatar', locals: { artist: current_user } %></a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Profile", artist_path(current_user), class: "dropdown-item" %>
            <%= link_to "Edit Profile", edit_user_registration_path(current_user), class: "dropdown-item" %>
            <%= link_to "Orders", orders_path, class: "dropdown-item" %>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Home", "/", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Artworks", artworks_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Artists", artists_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
