<div class="container">
  <div class="order-card">
    <div class="row py-4">
      <div class="image"><%= render partial: 'shared/artwork', locals: { artwork: order.artwork, large_img: false } %></div>
      <div class="col">
        <div class="header">
          <div class="title">
            <h4><strong><%= order.artwork.title %></strong></h4>
          </div>
          <div class="state">
            <p><small><span class="badge badge-primary"><%= order.state %></span></small></p>
          </div>
        </div>
        <ul class="list-unstyled">
          <li>Order #<%= order.id %></li>
          <li><%= order.created_at.to_date %></li>
          </li>
        </ul>
        <h5><strong><%= humanized_money_with_symbol order.amount %></strong></h5>
        <p>Estimated delivery in <strong><%= rand(1..5) %> business days</strong></p>
      </div>
  </div>
  </div>
</div>
