<%= form_tag form_path, method: :get, class: "searching-form" do %>
<% if activate_filters %>
  <%= render partial: "shared/checkbox-card", locals: {name: "painting"} %>
  <%= render partial: "shared/checkbox-card", locals: {name: "photograph"} %>
  <%= render partial: "shared/checkbox-card", locals: {name: "drawing"} %>
  <%= render partial: "shared/checkbox-card", locals: {name: "illustration"} %>
<% end %>
  <div class="search-box">
    <%= text_field_tag :query,
      params[:query],
      class: "form-control invisible-input",
      placeholder: placeholder
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  </div>
<% end %>
