<div class="page-container">
  <%= render partial: 'shared/artist_header', locals: { artist: @artist } %>

  <div class="container">
    <% counter = 0 %>
      <div class="event-cards">
    <% @events.each do |event| %>
    <a href="http://eventbrite.co.uk/"><div class="card-event">
      <div class="event-image">
        <img src="https://source.unsplash.com/random?sig=<%= counter %>" />
      </div>
      <% counter += 1 %>
      <div class="card-product-infos">
        <div class="main-info">
          <h5><%=event.date.strftime("%a, %b %dth")%></h5>
          <h2><%= event.name %></h2>
          <h6><%=event.location%></h6>
        <h6><%=event.fee%>£</h6>
        </div>
        <div class="icon-heart" id="heart-<%= event.id %>">
          <% if Like.where(event:event, user:current_user, state: true).any? %>
            <%= link_to destroy_like_event_path(Like.where(event:event, user:current_user, state: true).first), method: :delete, remote: true do %>
              <i class="fas fa-heart"></i>
            <% end %>
          <% else %>
            <%= link_to create_like_event_path(event), method: :post, remote: true do %>
              <i class="far fa-heart"></i>
            <% end %>
            </a>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>


  </div>
</div>
