<div class="page-container">
  <%= render partial: 'shared/artist_header', locals: { artist: @artist } %>

  <div class="container">
    <div class="row">
      <div class="col">
        <%= render partial: 'shared/avatar-profile', locals: { artist: @artist } %>
      </div>
      <div class="col">
        <% if @artist.description.present? %>
        <p><%= @artist.description %></p>
        <% else %>
        <p class="h2">Hi my name is <%= @artist.first_name %> <%= @artist.last_name %>. Please check out my gallery!</p>
        <% end %>
        <br>
          <a href="mailto:<%= @artist.email %>" class="btn btn-primary"><i class="fas fa-envelope"></i> <%= @artist.email %></a><br>
          <a href="tel:<%= @artist.phone_number %>" class="btn btn-primary"><i class="fas fa-phone"></i> <%= @artist.phone_number %></a><br>
          <br><br>
        <div class="footer-links">
          <a href="<%= @artist.facebook %>" class="social-icon"><i class="fab fa-facebook"></i> Facebook</a>
          <a href="<%= @artist.instagram %>" class="social-icon"><i class="fab fa-instagram"></i> Instagram</a>
          <a href="<%= @artist.pinterest %>" class="social-icon"><i class="fab fa-pinterest"></i> Pinterest</a>
          <a href="<%= @artist.twitter %>" class="social-icon"><i class="fab fa-twitter"></i> Twitter</a>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>
